langchain
langchain-core
langchain-community
pypdf
pymupdf
langchain
langchain-core
langchain-community
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
scikit-learn
langchain-groq
python-dotenv
typesense
langchain_openai
langgraph